.header{
    background: #ff6600;
    padding: .5rem .3rem;
    display: flex;
    align-items: center;
}

.logo{
    font-weight: normal;
    margin: 0 .4rem 0 0;
    border: 1px solid #fff;
    padding: 0 .5rem;
    color: #fff;
}

.brand{
    margin: 0;
}